# Python for Beginners Essentials Program
# Day 1

In [ ]:
print("Hello World")

Hello World

In [ ]:
# Our First Project - Calculater 

#  Step 1 -> Perform Addition in Python
#  Step 2 -> Store the Result in some Variable and show the results 
#  Step 3 -> Take user Input for Dinamic Addition

In [ ]:
A1 = int(input("First Number -"))
A2 = int(input("Second Number -"))
Addition = A1 + A2

print("Addition of two Number is -",Addition)

First Number -30
Second Number -12
Addition of two Number is - 42

In [ ]:
# Day - 1
# Assignment - 1

X = int(input("First Number -"))
Y = int(input("Second Number -"))
Addition = X + Y
Sub = X - Y
Multi = X * Y
Dev = X / Y

print("Addition of two Number is -",Addition)
print("Subtraction of two Number is -",Sub)
print("Multiplication of two Number is -",Multi)
print("Division of two Number is -",Dev)

First Number -25
Second Number -5
Addition of two Number is - 30
Subtraction of two Number is - 20
Multiplication of two Number is - 125
Division of two Number is - 5.0

# Day 2 & 3

In [ ]:
# Lottery in Python

Max_Tickets_Avalibale = 5

Participant = ["Pritam","Riya","Alice","Aman","Priyanka"]

import random

N = random.randint(0,Max_Tickets_Avalibale-1)

print("Wow",Participants[N],"won the Lottery")

Wow Riya won the Lottery

In [ ]:
# For Loop

for I in range(10):
  print("Python")

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [ ]:
# Day 3
# Assignment - 2 

# Get random names of the peaple in the list using For Loop, Maximum participant variable and imput() Function 
# and then get your Lottery Run

import random

Max_Tickets_Avalibales = int(input("Enter the Max number of Tickets Avalable -"))

Participants = []

for I in range(Max_Tickets_Avalibales):
  Name = str(input("Enter your name -"))
  Participants.append(Name)
print("Participants -",Participants)

N = random.randint(0,Max_Tickets_Avalibales-1)

print("Wow",Participants[N],"won the Lottery")

Enter the Max number of Tickets Avalable -5
Enter your name -Pritam
Enter your name -Riya
Enter your name -Alice
Enter your name -Aman
Enter your name -Priyanka
Participants - ['Pritam', 'Riya', 'Alice', 'Aman', 'Priyanka ']
Wow Pritam won the Lottery

In [2]:
# Contact Book App in Python 

How_many_Contact = 2

Contact_Details = {}

for I in range(How_many_Contact):
    Name = input("Ënter Name -")
    Number_1 = input("Ënter number -")
    Number_2 = input("Ënter another number -")
    Image = input("Ënter image -")
    Email = input("Ënter email -")
    Website = input("Ënter website -")

    Contact_Details[Name] = {
        "Name":Name,
        "Number-1":Number_1,
        "Number-2":Number_2,
        "Image":Image,
        "Email":Email,
        "Website":Website
        }

Ënter Name -Pritam Poddar
Ënter number -7003528019
Ënter another number -N.A
Ënter image -N.A
Ënter email -psaikat36@gmail.com
Ënter website -N.A
Ënter Name -Ankita
Ënter number -8016753483
Ënter another number -N.A
Ënter image -N.A
Ënter email -Ankita@gmail.com
Ënter website -N.A

# Day 4


1.   Tuple
1.    Set
1.    If Else, Elif
1.    While loop
1.     Function

In [5]:
# List

L =["abc","xyz","xyz","def","def","xyz"]
L

['abc', 'xyz', 'xyz', 'def', 'def', 'xyz']

In [6]:
# To get unique values
set(L)

{'abc', 'def', 'xyz'}

In [7]:
# Tuple
# Tuple will never chnage 
T = ("Food","Love","Life")
T

('Food', 'Love', 'Life')

In [9]:
# To check the Data type
type(T)

tuple

In [18]:
# If Else/Elif

Dairy_Milk = 10

In_Stock = 5

if Dairy_Milk <= In_Stock:
  print("Take the Dairy Milk")
else:
  print("Take 5 Star, I dont have that much Dairy Milk in Stock")

Take 5 Star, I dont have that much Dairy Milk in Stock

In [27]:
Marks = int(input("Enter your marks -"))

if Marks > 75:
  print("Your Grade is A")
elif Marks > 55 and  Marks < 75:
  print("Your Grade is B")
else :
  print("Your Grade is C")

Enter your marks -98
Your Grade is A

### Day 4
## **Assignment 1** 
You all are plots you have to land a plane the altitude required for landing a plane is 1000F.if it is less than that tell plot to land the plane or it is more than that but less than 5000 ask the plot to 'come down to 1000'else if it is more than 5000'ask the plot to 'go around and try later'


*   Example: Input - 1000 Output - Safe to land 
*   Example : Input - 4500 Output - Bring down to 1000 
*   Example: Input - 6500 Output - Turn Around